In [265]:
import pandas as pd
import numpy as np
df=pd.read_csv("titanic.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [266]:
total = df.isnull().sum().sort_values(ascending=False)
percent_1 = df.isnull().sum()/df.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])
missing_data.head(5)

          Total     %
Cabin       687  77.1
Age         177  19.9
Embarked      2   0.2
Fare          0   0.0
Ticket        0   0.0

In [267]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
dfle=df
dfle.Sex=le.fit_transform(dfle.Sex)
dfle.Embarked=df.fillna('S')
dfle.Embarked=dfle.Embarked.astype(str)
dfle.Embarked=le.fit_transform(dfle.Embarked)
dfle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null int64
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       891 non-null int64
dtypes: float64(2), int64(7), object(3)
memory usage: 83.6+ KB

In [268]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,111
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,222
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,333
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,444

In [269]:
dfle.Ticket=le.fit_transform(dfle.Ticket)

In [270]:
dfle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null int64
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null int64
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       891 non-null int64
dtypes: float64(2), int64(8), object(2)
memory usage: 83.6+ KB

In [271]:
dfle.head()
dfle=dfle.drop(df[['PassengerId','Name','SibSp','Parch','Fare','Cabin']],axis="columns")

In [272]:
dfle.Age=dfle.Age.fillna(dfle['Age'].mean())
dfle.head(60)

    Survived  Pclass  Sex        Age  Ticket  Embarked
0          0       3    1  22.000000     523         0
1          1       1    0  38.000000     596       111
2          1       3    0  26.000000     669       222
3          1       1    0  35.000000      49       333
4          0       3    1  35.000000     472       444
5          0       3    1  29.699118     275       555
6          0       1    1  54.000000      85       666
7          0       3    1   2.000000     395       777
8          1       3    0  27.000000     344       880
9          1       2    0  14.000000     132         1
10         1       3    0   4.000000     616        12
11         1       1    0  58.000000      38        23
12         0       3    1  20.000000     535        34
13         0       3    1  39.000000     333        45
14         0       3    0  14.000000     413        56
15         1       2    0  55.000000     153        67
16         0       3    1   2.000000     480        78
17         1       2    1  29.699118     151        89
18         0       3    0  31.000000     301       100
19         1       3    0  29.699118     184       112
20         0       2    1  35.000000     139       123
21         1       2    1  34.000000     152       134
22         1       3    0  15.000000     278       145
23         1       1    1  28.000000      42       156
24         0       3    0   8.000000     395       167
25         1       3    0  38.000000     329       178
26         0       3    1  29.699118     179       189
27         0       1    1  19.000000      95       200
28         1       3    0  29.699118     283       211
29         0       3    1  29.699118     362       223
30         0       1    1  40.000000     598       234
31         1       1    0  29.699118     586       245
32         1       3    0  29.699118     288       256
33         0       2    1  66.000000     549       267
34         0       1    1  28.000000     600       278
35         0       1    1  42.000000      43       289
36         1       3    1  29.699118     202       300
37         0       3    1  21.000000     514       311
38         0       3    0  18.000000     302       322
39         1       3    0  14.000000     186       334
40         0       3    0  40.000000     507       345
41         0       2    0  27.000000      53       356
42         0       3    1  29.699118     391       367
43         1       2    0   3.000000     634       378
44         1       3    0  19.000000     282       389
45         0       3    1  29.699118     617       400
46         0       3    1  29.699118     462       411
47         1       3    0  29.699118      76       422
48         0       3    1  29.699118     190       433
49         0       3    0  18.000000     377       445
50         0       3    1   7.000000     249       456
51         0       3    1  21.000000     522       467
52         1       1    0  49.000000     587       478
53         1       2    0  29.000000     239       489
54         0       1    1  65.000000      29       500
55         1       1    1  29.699118      94       511
56         1       2    0  21.000000     555       522
57         0       3    1  28.500000     215       533
58         1       2    0   5.000000     561       544
59         0       3    1  11.000000     566       556

In [273]:
#dfle['Embarked'] = dfle['Embarked'].map({'3+': 3})

In [274]:
from sklearn.model_selection import train_test_split
X=dfle[['Pclass','Sex','Age','Ticket','Embarked']]
y=dfle['Survived']

In [275]:
from sklearn.ensemble import RandomForestClassifier
X_train,X_test,Y_train,Y_Test=train_test_split(X,y,test_size=0.2,random_state=0)
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)
#from sklearn.linear_model import LogisticRegression
#LogReg=LogisticRegression()
#LogReg.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [276]:
Y_prediction = random_forest.predict(X_test)
Y_prediction

array([0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0])

In [277]:
YA=Y_Test.as_matrix(columns=None)
YA=YA.reshape((-1,1))
#Y_prediction=Y_prediction.as_matrix(columns=None)
Y_prediction=Y_prediction.reshape((-1,1))

/home/vishnukollu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [278]:
random_forest.score(X_test,YA)

0.8491620111731844

In [279]:
#using Logistic Regression

In [280]:
from sklearn.linear_model import LogisticRegression
LogReg=LogisticRegression()
LogReg.fit(X_train,Y_train)
Y_prediction=LogReg.predict(X_test)
from sklearn import metrics
confusionMatrix=metrics.confusion_matrix(Y_prediction,YA)
confusionMatrix

/home/vishnukollu/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([[93, 22],
       [17, 47]])

In [281]:
print("Accuracy:",metrics.accuracy_score(Y_prediction,YA))
print("precision:",metrics.precision_score(Y_prediction,YA))
print("recall:",metrics.recall_score(Y_prediction,YA))

Accuracy: 0.7821229050279329
precision: 0.6811594202898551
recall: 0.734375

In [282]:
#k nearest neighbors
from sklearn.neighbors import KNeighborsClassifier
knn= KNeighborsClassifier()
knn.fit(X_train,Y_train)
knn.score(X_test,YA)

0.6480446927374302

In [283]:
#using naive bayes
from sklearn.naive_bayes import GaussianNB
gaussian = GaussianNB()
gaussian.fit(X_train, Y_train) 
Y_pred = gaussian.predict(X_test)
gaussian.score(X_test,YA)

0.7877094972067039

In [284]:
#using svm
from sklearn import svm
clf=svm.LinearSVC(loss='hinge')
clf.fit(X_train,Y_train)
clf.score(X_test,YA)

/home/vishnukollu/anaconda3/lib/python3.6/site-packages/sklearn/svm/base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

0.7318435754189944

In [285]:
#Decision tree classifier
from sklearn.tree import DecisionTreeClassifier
decision_tree=DecisionTreeClassifier()
decision_tree.fit(X_train,Y_train)
decision_tree.score(X_test,YA)

0.7877094972067039

In [286]:
#from sklearn.preprocessing import StandardScaler
#scaler=StandardScaler()
#Y_Test = scaler.fit_transform(pd.DataFrame(Y_Test))
#Y_prediction = scaler.fit_transform(pd.DataFrame(Y_prediction))

In [287]:
#type(Y_prediction)
#from among this we get best accuracy for random forest so we decide random forest is the best model for this dataset

In [288]:
random_forest.predict([[3,1,11.000000,566,2]])

array([0])

In [289]:
importances = pd.DataFrame({'feature':X_train.columns,'importance':np.round(random_forest.feature_importances_,3)})
importances = importances.sort_values('importance',ascending=False).set_index('feature')

importances.head()

          importance
feature
Sex            0.274
Ticket         0.244
Embarked       0.211
Age            0.188
Pclass         0.083